:root {
  font-family: system-ui, -apple-system, 'Segoe UI', sans-serif;
  font-size: 16px;
  line-height: 1.5;
  padding: 0;
  /* Base color variables (preencha depois) */
  /* --color-bg: ; */
  /* --color-text: ; */
  /* --color-primary: ; */
  /* --color-border: ; */
}

@media (max-width: 1024px) {
  :root {
    font-size: 15px;
  }
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  min-height: 100vh;
}

#root {
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

button,
h1,
h2 {
  color: white;
  margin: 0;
    font-family: 'IBM Plex Mono', monospace;
}

button {
  padding: 10px 40px;
  font-size: 22px;
  font-family: 'IBM Plex Mono', monospace;
  background-color: #3F8E00;
  border: 1px solid #62BA1B;
  border-radius: 4px;
  cursor: pointer;
  transition: ease 0.3s;
}

button:hover {
  background-color: #2c6300;
}